<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'product_list' %}">Flower Delivery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'product_list' %}">Каталог</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile' %}">Личный кабинет</a>
            </li>
            {% if user.is_staff or user.is_superuser %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'order_management' %}">Управление заказами</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'analytics_overview' %}">Аналитика и отчеты</a>
            </li>
            {% endif %}
             <li class="nav-item active">
                <a class="nav-link" href="{% url 'telegram_bot:bot_info' %}">Мы в Telegram</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'cart' %}">Корзина ({{ cart_item_count }})</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Вход</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'product_list' %}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск товаров" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>
