{% extends 'base.html' %}

{% block title %}Аналитика{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Аналитика</h1>

    <form method="get" class="mb-3">
        <div class="form-row">
            <div class="col">
                {{ form.product_type.label_tag }} {{ form.product_type }}
            </div>
            <div class="col">
                {{ form.client.label_tag }} {{ form.client }}
            </div>
            <div class="col">
                {{ form.start_date.label_tag }} {{ form.start_date }}
            </div>
            <div class="col">
                {{ form.end_date.label_tag }} {{ form.end_date }}
            </div>
            <div class="col">
                <button type="submit" name="filter" class="btn btn-primary mt-4">Фильтровать</button>
            </div>
        </div>
    </form>

    {% if results %}
    <table class="table">
        <thead>
            <tr>
                <th>Клиент</th>
                <th>Товар</th>
                <th>Количество</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.order__user__username }}</td>
                <td>{{ result.product__name }}</td>
                <td>{{ result.total_quantity }} шт.</td>
                <td>{{ result.total_price }} USD</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Итого:</h3>
    <ul>
        {% for product in results|dictsort:"product__name" %}
        <li>{{ product.product__name }}: {{ product.total_quantity }} шт. на сумму {{ product.total_price }} USD</li>
        {% endfor %}
    </ul>

    <h4>Общая сумма: {{ total_sum }} USD</h4>
    {% endif %}
</div>
{% endblock %}
